extends layout

block content

  //- if user
    p user
    p=JSON.stringify(user)

    //- if !user.servers
    each server in user.servers
      p=JSON.stringify(server)
      h2 
        a(href='/server/#{server}') Welcome, Manage Your Server
      //- p
        strong You Have #{user.server_tokens} Server Tokens
      //- a(href='/server/#{user.server_id}') Manage Your Server #{user.server_ip_address}
  if !user
    h1 Coming Soon
    img(src="/img/StarboundToday.svg" style="max-width:96%;")
    br
    br
    h1 On Demand Starbound Servers
  else
    if user.servers[0]
      h2.page-header Starbound Today Alpha Preview
      form(action='/server/#{user.servers[0]}', method='GET')
        button.btn.btn-primary(type='submit') manage your server here
      br
      p Good job creating that server. Right now, if you look at the management console, you are going to see a cool loading effect background and a bit of information. Be Patient! It takes 55 - 90 seconds to create a server.
      p We want to create a StarBound Meta Universe of Planets!
      
      h4 Server States
      ul
        li Nothing (Destroyed)
        li Powered Off
        li Taking Server Image
        li Server Powered On
        li Starbound Running
        li CommandStar Running
      p With the CommandStar API Running, we can add planets to the encyclopedia.
      p If you download a planet with people on it, it will be corrupt, which is very bad.
    else
      h2.page-header To Get Started, Create a Server.
      p 
        //- strong #{stats.tokens} Tokens Remaining
        form(action='/server/boot', method='POST')
          input(type='hidden', name='_csrf', value=token)
          input(type='hidden', name='image', value='2661158')
          button.btn.btn-primary(type='submit')
            i.fa.fa-gamepad
            |  Vanilla Starbound
            i.fa.fa-circle-o(style='margin-left: 10px;')
            |  2x2GHz, 2GB
            i.fa.fa-circle-o(style='margin-left: 10px;')
            |  1 Token to Start
            i.fa.fa-circle-o(style='margin-left: 10px;')
            |  1 Token/Hr
            i.fa.fa-circle-o(style='margin-left: 10px;')
      p Creating a server usually takes 55-90 seconds.


      //- p http://localhost:3000/server/#{user.servers[0]}
      //- script.
        window.location = 'http://localhost:3000/server/#{user.servers[0]}';

