extends layout

block content

  if sizes
    h2.page-header Starbound Today Alpha Version
    p Welcome to the alpha version of Starbound.today! We have big aspirations for this site, but right now we want to get people playing StarBound ASAP! We have Vanilla Starbound Servers with password process and hardware management panels. We also offer a world downloader, universe browser, and commandstar website/api. 
    p We're a completely custom, made for StarBound Hosting Service.
    //- p During the alpha version, all servers will be publicly listed and only monthly plans will be available.
    //- p We are offering 2 tokens to anyone that creates an account to try our service. Get connected to your own VPS in under 5 min! We have lots more features in mind if we can generate some interest and/or more free time.
    p 
    each size in sizes
      if size.id == '62' || size.id == '65' || size.id == '61'
        .col-sm-4
          p
          //- p=size.id
          //- p=JSON.stringify(size)
          if size.id == '62'
            h2.page-header.text-success Dual Core
            p.text-danger 1 Token Minimum
            p.text-danger +12 hrs. per Token
          if size.id == '65'
            h2.page-header.text-primary Quad Core
            p.text-danger 2 Tokens Minimum
            p.text-danger +3 hrs. per Token
          if size.id == '61'
            h2.page-header.text-info Octo Core
            p.text-danger 4 Tokens Minimum
            p.text-danger +1.5 hrs. per Token
          ul
          if size.id == '62'
            li Good for 4+ players
            li Can do about 10 players
            li 1 Token to start - 12hrs
            li additional tokens - 12hrs
          if size.id == '65'
            li Good for 10+ players
            li Can do 20+ players
            li 2 Tokens to start - 6hrs
            li additional tokens - 3hrs
          if size.id == '61'
            li Good for 20+ players
            li Can do 40+ players
            li 4 Tokens to start - 6hrs
            li additional tokens - 1.5hrs
          li #{size.name} memory
          li #{size.cpu} cores
          li #{size.disk}GB SSD
            //- li Per Hour: $#{Math.round(1000*((size.cost_per_hour*0.25)+ +size.cost_per_hour))/1000}
            //- li Minimum Charge: $#{(Math.round(1000*((size.cost_per_month*0.25)+ +size.cost_per_month))/1000)/100}
            //- li Per Month: $#{Math.round(1000*((size.cost_per_month*0.25)+ +size.cost_per_month))/1000}
              //- ul
                li #{size.cpu} Server Image Slots
                li (coming soon)
          //- p
            form(action='/server/boot', method='POST')
              input(type='hidden', name='_csrf', value=token)
              if size.id == '62'
                input(type='hidden', name='size', value='62')
                button.btn.btn-success(type='submit')
                  i.fa.fa-keyboard-o
                  | Start this server
              if size.id == '65'
                button.btn.btn-primary(type='submit' disabled)
                  i.fa.fa-keyboard-o
                  | Coming Soon
              if size.id == '61'
                button.btn.btn-info(type='submit' disabled)
                  i.fa.fa-keyboard-o
                  | Coming Soon
    .clearfix
      h2.page-header Arcade Pricing! Tokens are $0.50
      .col-sm-12
        p Get started now, your own Starbound VPS provisioned and playing about 3 min.
      .col-sm-4
        a.btn.btn-success.btn-lg(href='/signup') Signup for an Account
      .col-sm-4
        a.btn.btn-info.btn-lg(href='http://gum.co/sbtokens') Get some Tokens
    br

    .col-sm-4
      h2.page-header Server tools
      p We have worked hard to create the best starbound web management enviornment out there.
      p One click lets you perform all the essential server tasks.
      ul
        li hard restart
        li restart StarBound
        li powerdown
        li destroy
        li and more...
        //- li backupUniverse
    .col-sm-4
      h2.page-header Starbound Tools
      p
        a(href='http://162.243.198.139/') CommandStar 
        | is pre-installed on all of our servers and 1 click launchable. Thanks go to 
        a(href='https://github.com/seriallos') seriallos 
        | for creating 
        a(href='https://github.com/seriallos/CommandStar') CommandStar
        | .
      ul
        li 
          a(href='http://http://162.243.198.139/') CommandStar
        //- li
          a(href='http://http://162.243.198.139:8081') Universe Browser
      p We also have an exclusive player viewer and world downloader that allows you to back up your creations for later.
    .col-sm-4
      h2.page-header Experienced Admins
      p Our servers have been battle tested, we currently run 
        a(href='http://boundstar.com') #2 Starbound Server Boundstar 
        | on our Octo Core plan.
      p We have experienced StarBound Server Administrators, Hackers and Developers behind our servers.
      p Free Custom DNS Setup.
    p.col-sm-12
    h2.page-header(style='clear:both') Great Servers
    p All of our servers are 
      a(href='http://digitalocean.com/pricing') Digital Ocean Based
      //- | . We charge thier rate +~25% for our StarBound servers.
    p We tested many VPS hosts including GoDaddy, Linode and DigitalOcean. We Found DigitalOcean has the best performance/cost balance while enabling our unique hourly pricing model.
    //- p With 80% of what you pay us going directly to Digital Ocean, we less of a business and more a service to StarBound players. You can dontate to BoundStar if you want to help out.
