extends layout

block content

  a(href='/server/#{user.servers[0]}/worlds') &laquo; Return to All Worlds
  if world
    //- p=JSON.stringify(world, null, 2)
    h2 Here's all the saves we have for world #{world.world_coords}
    each save, index in world.saves
      //- p=JSON.stringify(save)
      p 
        form(action='/server/#{user.servers[0]}/saveworld', method='POST')
          input(type='hidden', name='_csrf', value=token)
          if world.satellite != null
             input(type='hidden', name='world_coords', value='#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}_#{world.satellite}.world')
          else
             input(type='hidden', name='world_coords', value='#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}.world')
          button.btn.btn-success(type='submit' disabled)
            i.fa.fa-download
            | Restore Planet Save #{new Date(save.timestamp*1000)}
  else
    h2 This world has never been saved
