extends layout

block content

  //- p=JSON.stringify(worlds)
  a(href='/server/#{user.servers[0]}') &laquo; Return to Server Manager
  each world in worlds
    //- p=JSON.stringify(world)
    if world.numLoads 
      if world.satellite != null
        h3.page-header #{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}_#{world.satellite}.world
      else
        h3.page-header #{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}.world
      p Number of Loads: #{world.numLoads}
      p Coordinates: #{world.sector}, x:#{world.x}, y:#{world.y}, z:#{world.z}, planet #{world.planet}
        if world.satellite != null
          span , satellite #{world.satellite}
      if world.lastUnloaded != null
        p Last Unloaded: #{new Date(world.lastUnloaded)}
      if world.lastLoaded != null
        p Last Loaded: #{new Date(world.lastLoaded)}
      p
        if world.satellite != null
          a(href='/server/#{user.servers[0]}/worlds/send/#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}_#{world.satellite}.world/to/#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}_#{world.satellite}.world')
            button.btn.btn-primary
              i.fa.fa-eye
              | View World Saves/Restore Old Version
        else
          a(href='/server/#{user.servers[0]}/worlds/send/#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}.world/to/#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}.world')
            button.btn.btn-primary
              i.fa.fa-eye
              | View World Saves/Restore Old Version
      p
        if world.satellite != null
          a(href='/server/#{user.servers[0]}/worlds/send/#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}_#{world.satellite}.world')
            button.btn.btn-warning
              i.fa.fa-crosshairs
              | Target Restore (Clone) StarryDex World Save
        else
          a(href='/server/#{user.servers[0]}/worlds/send/#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}.world')
            button.btn.btn-warning
              i.fa.fa-crosshairs
              | Target Restore (Clone) StarryDex World Save
      p
        if world.satellite != null
          a(href='/server/#{user.servers[0]}/worlds/save/#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}_#{world.satellite}.world')
            button.btn.btn-success
              i.fa.fa-save
              | Save World to StarryDex
        else
          a(href='/server/#{user.servers[0]}/worlds/save/#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}.world')
            button.btn.btn-success
              i.fa.fa-save
              | Save World to StarryDex
      p
        form(action='/server/#{user.servers[0]}/runscript', method='POST')
          input(type='hidden', name='_csrf', value=token)
          input(type='hidden', name='script', value='download_world')
          if world.satellite != null
            input(type='hidden', name='worldfile', value='#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}_#{world.satellite}.world')
          else
            input(type='hidden', name='worldfile', value='#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}.world')
          button.btn.btn-info(type='submit')
            i.fa.fa-download
            | Download World
      p
        form(action='/server/#{user.servers[0]}/destory', method='POST')
          input(type='hidden', name='_csrf', value=token)
          input(type='hidden', name='script', value='download_world')
          if world.satellite != null
            input(type='hidden', name='worldfile', value='#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}_#{world.satellite}.world')
          else
            input(type='hidden', name='worldfile', value='#{world.sector}_#{world.x}_#{world.y}_#{world.z}_#{world.planet}.world')
          button.btn.btn-danger(type='submit' disabled)
            i.fa.fa-eraser
            | Destroy World


          
