extends layout

block content

  p lkajs;dfkjal;ksdjfkl;
  a(href='/server/#{user.server}/worlds') &laquo; Return to All Worlds
  if worlds
    //- p=JSON.stringify(world, null, 2)
    //- h2 Here's all the saves we have for world #{world.world_coords}
    .page-header
      h2 Send a world from StarryDex into the Server Universe
    p To: #{params.world_coords}
    p From: Select below
    each world, index in worlds
      if world.nickname != ''
        //- p=JSON.stringify(world)
        .page-header
          h3 #{world.nickname}
        p=world.owner
        if world.numLoads != 0
          p
            a(href='/server/#{user.server}/worlds/send/#{world.world_coords}/to/#{params.world_coords}')
              button.btn.btn-primary
                i.fa.fa-eye
                //- #{params.world_coords}/to/
                | #{world.world_coords}
