extends layout

block content

  a(href='/server/#{user.server}/worlds') &laquo; Return to All Worlds
  if world
    p=JSON.stringify(world, null, 2)
    //- h2 Here's all the saves we have for world #{world.world_coords}
    h2 Send a world from StarryDex into the Server Universe
    p From: #{params.world_coords}
    each save, index in world.saves
      //- p=JSON.stringify(save)
      p 
        form(action='/server/#{user.server}/runscript', method='POST')
          input(type='hidden', name='_csrf', value=token)
          input(type='hidden', name='script', value='restore_world')
          input(type='hidden', name='timestamp', value=save.timestamp)
          input(type='hidden', name='world_coords', value='#{world.world_coords}')
          input(type='hidden', name='target_world_coords', value='#{params.target_world_coords}')
          button.btn.btn-success(type='submit')
            i.fa.fa-download
            | Restore Planet Save #{new Date(save.timestamp*1000)}
    p To: #{params.target_world_coords}
  else
    h2 This world has never been saved into StarryDex
    p There's no saved world in StarryDex to send o.O
